@(tasks: List[models.Task], form:play.data.Form[models.Task])

@main("Tasks") {
    <h1>@tasks.size task@(if(tasks.size != 1) "s")</h1>
    <ul>
        @for(task <- tasks) {
            <li>@task.title
            <a href="@routes.Application.delete(task.id)">delete</a></li>
        }
    </ul>

    <form method="post" action="@routes.Application.add()">
       <input name="title" placeholder="Enter a task description…">
       <button type="submit">Add Task</button>
       <p class="error">@form("title").errors.map(_.message).map(Messages(_))</p>
    </form>
}